.nombreProducto {
    font-size: 25px;
    color: aqua;
    text-transform: uppercase;
    padding: 20px;
}

ul {
    list-style-type: none;
}

.listado{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.listado:hover {
    color: aqua;
    text-decoration: underline;
    transition: 0.3s;
}

div p {
    text-transform: uppercase;
    padding-top: 10px;
    color: white;
}

link {
    color: white;
}

.item-detail-image{
    width: 50%;
    height: 50%;
    object-fit: cover;

}

.price {
    letter-spacing: 1.2px;
    height: 50px;
    width: 150px;
    background-color: rgb(3, 114, 158);
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
