* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(2, 63, 87);
}
.nav {
    background-color: #118ee0;
    height: 100px;
    padding: 1rem;
    justify-content: space-between;
}

.nav_name {
    padding: 20px;
    color: rgb(0, 255, 179);
    font-style: italic;
    font-size: 2.5rem;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
    
}
.nav_list {
    margin-top: 20px;
    display: flex;
    list-style: none;
}

.nav_list a {
    font-family: 'Poppins', sans-serif;
    color: black;
    padding: 30px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}
